.Audio2 {
    &.result {
        padding: 4em;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; // make sure the parent is full screen
        height: 100%; // so that the content will center correctly
    }



    &.page {
        //height: 100vh;
        padding: 9em;
        text-align: center;
        display: block;
        align-items: center;
        justify-content: center;
    }

    &.gif {
        width: 100%;
        height: 500px;
        //text-align: center;
        object-fit: cover;
        overflow: hidden;
    }

    &.card {
        width:100%;
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
        float:none;
        display:flex;
    }

    &.flex {
        height: 100vh;
        padding: 4em;
        margin: 4em;
    }

    &.button {
        margin: 10px;
    }
}
