.Audio {
    &.result {
        padding: 4em;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; // make sure the parent is full screen
        height: 100%; // so that the content will center correctly
    }



    &.page {
        height: 100vh;
        padding: 4em;
        text-align: center;
    }

    &.gif {
        width:100%;
        height:auto;
        text-align: center;
    }

    &.card {
        width:40%;
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
        float:none;
        display:block;
    }

    &.flex {
        height: 100vh;
        padding: 4em;
        margin: 4em;
    }
}
