// Colours
$brandColor: #fbdfb6;
$textColor: #2e2d2d;
$brandBackgroundColor: #fcf7f0;
$lightSecondaryColor: rgba(46, 45, 45, 0.7);

// Typography
$titleFontWeight: 200;

// override
html,
body {
    margin: 0;
    padding: 0;
}

body {
    // background-color: $brandBackgroundColor;
}
h1,
p {
    margin: 0 0 1em;
}

// buttons
.mindPortalButton.primary {
    margin-top: 0.5em;
    background-color: darken($brandColor, 5%);
    border-color: #fbdfb6;
    border: none;
    color: $textColor;
    padding: 10px 30px;
    border-radius: 10px;
    width: 200px;
    text-decoration: none;

    &:hover {
        background-color: darken($brandColor, 10%);
        color: white;
        box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
        transform: translateY(-0.1em);
    }
}

.mindPortalButton.secondary {
    margin-top: 0.5em;
    background-color: white;
    border-color: white;
    border: none;
    color: $textColor;
    padding: 10px 30px;
    border-radius: 10px;
    width: 200px;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: darken($brandColor, 10%);
        box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
        transform: translateY(-0.05em);
    }
}
//Covid alert
.mindPortalAlert {
    background-color: darken($brandColor, 5%);
    border-color: #fbdfb6;
    border: none;
    color: $textColor;
    padding: 10px 30px;
    border-radius: 10px;
    // width: 300px;
    text-decoration: none;
}
//K10 test suggestion
.mindPortalSuggest {
    background-color: darken($brandColor, 5%);
    border-color: #fbdfb6;
    color: $textColor;
    padding: 20px 40px;
    border-radius: 10px;
    // width: 800px;
}
