@import "Base";
.Dashboard {
    // background-color: $brandBackgroundColor;
    // &.page {
    //     height: 100vh;
    //     padding: 4em;
    // }

    // &.card {
    //     margin-top: 1em;
    //     margin-bottom: 1em;
    //     background: $brandBackgroundColor;
    // }

    // &.flex {
    //     height: 100vh;
    //     padding: 4em;
    //     margin: 4em;
    // }
    &__sidebar {
        // background-color: pink;
        // color: teal;
    }

    &__main {
        &__title {
            font-weight: $titleFontWeight;
        }

        &__description {
            font-family: Arial, Helvetica, sans-serif;
        }

        &__heading {
            font-weight: 300;
        }

        &__highlight {
        }

        &__card {
            border-radius: 20px;
        }
    }
}
