$brandColor: #fbdfb6;
$textColor: #2e2d2d;

.Login {
    &__container {
        background-image: url("../components/LightSource2.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 10px;
        background-position-y: 15px;
        background-color: #2e2d2d;
        height: 100vh;
        padding-left: 0px;
    }

    &__form {
        &__title {
            font-size: 1.5rem;
            color: rgb(29, 28, 28);
            font-weight: 100;
            text-align: center;
        }

        &__subtitle {
            text-align: center;
        }

        &__link {
            text-decoration: none;
            font-weight: bold;
            color: darken($brandColor, 10%);
            &:hover {
                color: darken($brandColor, 20%);
            }
        }
    }

    &.banner {
        background-color: rgb(29, 28, 28);
        height: 100vh;

        padding-top: 4em;
        text-align: center;

        &__title {
            color: white;
            text-decoration: none;
        }
    }

    &.form {
        box-shadow: 3px 5px 5px 0px rgba(255, 255, 255, 0.2);
        // padding-top: 10vh;
        // padding-left: 10em;
        background-color: white;
        border-radius: 10px;
        padding: 2rem;

        &__label {
            font-weight: bold;
            margin-top: 1em;
            color: $textColor;
        }

        &__btn {
            margin-top: 0.5em;
            background-color: #fbdfb6;
            border-color: #fbdfb6;
            border: none;
            color: #2e2d2d;
            padding: 10px 30px;
            border-radius: 10px;
            width: 200px;

            &:hover {
                background-color: darken($brandColor, 10%);
                color: white;
                box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
                transform: translateY(-0.1em);
            }
        }

        &__spinner {
            text-align: center;
        }

        // &:before,
        // &:after {
        //     content: "";
        //     position: relative;
        //     display: block;
        //     background: inherit;
        //     border-radius: 100px;
        // }
        // &::before {
        //     width: 100px;
        //     height: 100px;
        //     top: -50px;
        //     left: 50px;
        // }

        // &:before {
        //     content: "";
        //     border-radius: 10px;
        //     display: inline-block;
        //     border-color: white;
        //     position: absolute;
        //     z-index: -1;
        //     width: 100px;
        //     height: 100px;
        //     top: 40px;
        //     left: 50px;
        //     background-color: white;
        // }
    }
}
