h4{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 80px;
    color: #223473;
}
h1{
    padding-top: 20px;
    text-align: center;
}
h3 {
    position: fixed;
    color: grey;
    text-align: center;
    padding-top: 200px;
}
st{
    position: fixed;
    padding-left: 60px;
    padding-top: 280px;

}
p{

    text-align: center;
}
span{

    padding-left: 90px;
}
.content-box {
    column-width: 50px;
}
.second-box {
    column-width: 200px;
}

bt{
    padding-left: 620px;

}
.special-class{
    position: absolute;
    right: 600px;
    padding-top: 100px;
}
